<%- include ('../partial/header') %>

<!-- Page Heading -->
<!-- <h1 class="h3 mb-2 text-gray-800">Report</h1> -->

<!-- DataTales Example -->
<% if (currentUser && currentUser.role) { %>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="mr-sm-2 font-weight-bold text-primary">Total <%= units.length %> Units Found</div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="text-center">Unit Name</th>
            <th class="text-center">Unit Type</th>
            <th class="text-center">Measurement</th>
            <th class="text-center">Unit Rate</th>
            <% if (currentUser.role === 'ADMIN' || currentUser.role === 'NO') { %>
            <th class="text-center">Delete</th>
            <% } %>
          </tr>
        </thead>

        <tbody>
          <% units.forEach((unit) => { %>
          <tr>
            <td>
              <% if (currentUser.role === 'ADMIN' || currentUser.role === 'NO') { %>
              <a href="/units/<%= unit._id %>/edit">
                <% } %> <%= unit.name %> <% if (currentUser.role === 'ADMIN' || currentUser.role === 'NO') { %>
              </a>
              <% } %>
            </td>
            <td><%= unit.type %></td>
            <td class="text-center"><%= unit.measurement %></td>
            <td class="text-center"><%= unit.unitRate %></td>
            <% if (currentUser.role === 'ADMIN' || currentUser.role === 'NO') { %>
            <td class="text-center">
              <form
                class="list-inline-item"
                action="/units/<%= unit._id %>?_method=DELETE"
                method="POST"
                onsubmit="mySubmit.disabled = true; return true;"
              >
                <button class="btn btn-danger btn-sm btn-icon-split" type="submit" name="mySubmit">
                  <span class="icon text-white-50">
                    <i class="fas fa-trash"></i>
                  </span>
                  <span class="text">Delete</span>
                </button>
              </form>
            </td>
            <% } %>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% } %> <%- include ('../partial/footer') %>

<!-- Page level custom scripts -->
<script src="/js/lcreport.datatables.js"></script>

<%- include ('../partial/footer2') %>
