<%- include ('../partial/header') %>

<!-- Page Heading -->
<!-- <h1 class="h3 mb-2 text-gray-800">Report</h1> -->

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="font-weight-bold text-primary list-inline-item">Total <%= feasibilities.length %> Feasibility Found</div>
    <% if(currentUser.role === 'ADMIN' || currentUser.role === 'NO') { %>
    <a href="/feasibilities/new" class="btn btn-success btn-icon-split mr-2">
      <span class="icon text-white-50">
        <i class="fas fa-plus-circle"></i>
      </span>
      <span class="text">Add Feasibility</span>
    </a>
    <% } %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="text-center">Customer Name</th>
            <th class="text-left">Location Name</th>
            <th class="text-center">Request Date</th>
            <th class="text-center">Completion Date</th>
            <th class="text-center">Media</th>
            <th class="text-center">Service</th>
            <th class="text-right">Bandwidth</th>
            <th class="text-center">Feasible</th>
            <th class="text-center">Agency</th>
          </tr>
        </thead>

        <tbody>
          <% feasibilities.forEach((feasibility) => { %>
          <tr>
            <td><a href="/feasibilities/<%= feasibility._id %>"> <%= feasibility.name %> </a></td>
            <td><%= feasibility.location %></td>
            <td class="text-center"><%= moment(feasibility.date).format('YYYY/MM/DD') %></td>

            <td class="text-center"><% if(feasibility.compDate){ %> <%= moment(feasibility.compDate).format('YYYY/MM/DD') %> <% } %></td>
            <td class="text-center"><%= feasibility.media %></td>
            <td class="text-center"><%= feasibility.service %></td>
            <td class="text-center"><%= feasibility.bandwidth %></td>
            <td class="text-center"><%= feasibility.feasible %></td>
            <td class="text-center"><%= feasibility.agency %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include ('../partial/footer') %>

<!-- Page level custom scripts -->
<script src="/js/lcreport.datatables.js"></script>

<%- include ('../partial/footer2') %>
