<%- include ('../partial/header') %>

<!-- Page Heading -->
<!-- <h1 class="h3 mb-2 text-gray-800">Report</h1> -->

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="mr-sm-2 font-weight-bold text-primary list-inline-item">Total <%= orders.length %> Orders Found</div>
    <% if(currentUser.role === 'NO' || currentUser.role === 'ADMIN') { %>

    <form class="list-inline-item mr-auto" action="/orders/new" method="POST" onsubmit="myButton.disabled = true; return true;">
      <button class="btn btn-success btn-icon-split" type="submit" name="myButton">
        <span class="icon text-white-50">
          <i class="fas fa-sync-alt"></i>
        </span>
        <span class="text">Sync</span>
      </button>
    </form>
    <% } %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="text-center">Order ID</th>
            <th class="text-center">Order Type</th>
            <th class="text-center">Order Date</th>
            <th class="text-left">Project Name</th>
            <th class="text-left">Location Name</th>
            <th class="text-right">Bandwidth</th>
            <th class="text-center">Circuit Type</th>
            <th class="text-center">Reason</th>
            <th class="text-center">Agency</th>
            <th class="text-center">Task</th>
            <th class="text-center">Order Sub Type</th>
            <th class="text-center">Previous Bandwidth</th>
            <th class="text-center">Customer Name</th>
            <th class="text-center">LC ID</th>
            <th class="text-center">CRM ID</th>
            <th class="text-center">End-A Station</th>
            <th class="text-center">End-A Address</th>
            <th class="text-center">End-B Station</th>
            <th class="text-center">End-B Address</th>
          </tr>
        </thead>

        <tbody>
          <% orders.forEach((order) => { %>
          <tr>
            <td>
              <% if(currentUser && currentUser.role && currentUser.role === 'NO') { %>
              <a href="/orders/<%= order.orderId %>/edit">
                <% } %> <%= order.orderId %> <% if(currentUser && currentUser.role && currentUser.role === 'NO') { %>
              </a>
              <% } %>
            </td>
            <td><%= order.orderType %></td>
            <td><%= moment(order.date).format('YYYY/MM/DD') %></td>
            <td><%= order.project %></td>
            <td><%= order.location %></td>
            <td><%= order.bandwidth %></td>
            <td><%= order.cctType %></td>
            <td><%= order.reason %></td>
            <td><%= order.agency %></td>
            <td>
              <% if(order.NO !== undefined) { %>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="NO" <%= order.NO ? "checked" : "" %> disabled />
                <label class="form-check-label" for="NO">NO</label>
              </div>
              <% } %> <% if(order.NIB !== undefined) { %>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="NIB" <%= order.NIB ? "checked" : "" %> disabled />
                <label class="form-check-label" for="NIB">NIB</label>
              </div>
              <% } %> <% if(order.MLLN !== undefined) { %>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="MLLN" <%= order.MLLN ? "checked" : "" %> disabled />
                <label class="form-check-label" for="MLLN">MLLN</label>
              </div>
              <% } %> <% if(order.LCTX !== undefined) { %>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="LCTX" <%= order.LCTX ? "checked" : "" %> disabled />
                <label class="form-check-label" for="LCTX">LCTX</label>
              </div>
              <% } %> <% if(order.LDTX !== undefined) { %>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="LDTX" <%= order.LDTX ? "checked" : "" %> disabled />
                <label class="form-check-label" for="LDTX">LDTX</label>
              </div>
              <% } %>
            </td>
            <td><%= order.orderSubType %></td>
            <td><%= order.prevBandwidth %></td>
            <td><%= order.name %></td>
            <td><%= order.lcId %></td>
            <td><%= order.crmId %></td>
            <td><%= order.endAStation %></td>
            <td><%= order.endAAddress %></td>
            <td><%= order.endBStation %></td>
            <td><%= order.endBAddress %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include ('../partial/footer') %>

<!-- Page level custom scripts -->
<script src="/js/lcreport.datatables.js"></script>

<%- include ('../partial/footer2') %>
