<%- include ('../partial/header') %>

<!-- Page Heading -->
<!-- <h1 class="h3 mb-2 text-gray-800">Report</h1> -->

<!-- DataTales Example -->
<% if (currentUser && currentUser.role) { %>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="font-weight-bold text-primary list-inline-item">Total <%= areas.length %> Area Found</div>
    <% if(currentUser.role === 'ADMIN') { %>
    <a href="/areas/new" class="btn btn-success btn-icon-split mr-2">
      <span class="icon text-white-50">
        <i class="fas fa-plus-circle"></i>
      </span>
      <span class="text">Add Area</span>
    </a>
    <% } %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <% if (currentUser.role === 'ADMIN') { %>
            <th class="text-center">Delete</th>
            <% } %>
          </tr>
        </thead>

        <tbody>
          <% areas.forEach((area) => { %>
          <tr>
            <td>
              <% if (currentUser.role === 'ADMIN') { %>
              <a href="/areas/<%= area._id %>"> <% } %> <%= area.name %> <% if (currentUser.role === 'ADMIN') { %> </a>
              <% } %>
            </td>

            <% if (currentUser.role === 'ADMIN') { %>
            <td class="text-center">
              <form
                class="list-inline-item"
                action="/areas/<%= area._id %>?_method=DELETE"
                method="POST"
                onsubmit="mySubmit.disabled = true; return true;"
              >
                <button class="btn btn-danger btn-sm btn-icon-split" type="submit" name="mySubmit">
                  <span class="icon text-white-50">
                    <i class="fas fa-trash"></i>
                  </span>
                  <span class="text">Delete</span>
                </button>
              </form>
            </td>
            <% } %>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% } %> <%- include ('../partial/footer') %>

<!-- Page level custom scripts -->
<script src="/js/lcreport.datatables.js"></script>

<%- include ('../partial/footer2') %>
