<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rajkot LC</title>

    <!-- Custom fonts for this template-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="/css/lcreport.css" rel="stylesheet" />
    <link href="/css/mycss.css" rel="stylesheet" />

    <!-- Custom styles for Data Table -->
    <link rel="stylesheet" href="/vendor/datatables/datatables.min.css" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/users/dashboard">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">LC Portal <sup>+</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" href="/users/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <% if(currentUser) { %>
        <div class="sidebar-heading">Orders</div>

        <!-- Nav Item - Pending Order Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#pendingOrder"
            aria-expanded="true"
            aria-controls="pendingOrder"
          >
            <i class="fas fa-at"></i>
            <span>Pending Order</span>
          </a>
          <div id="pendingOrder" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <% if(currentUser.role) { %>
              <a class="collapse-item" href="/orders?role=<%= currentUser.role %>&isActive=1"><%= currentUser.role %> Pending Order</a>
              <% } %> <% if(currentUser.area && currentUser.role ==='NO') { %>
              <a class="collapse-item" href="/orders?area=<%= currentUser.area %>&isActive=1">All Pending Order</a>
              <% } %>
            </div>
          </div>
        </li>

        <!-- Nav Item - Complete Order Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#completeOrder"
            aria-expanded="true"
            aria-controls="completeOrder"
          >
            <i class="fas fa-check-double"></i>
            <span>Completed Order</span>
          </a>
          <div id="completeOrder" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <% if(currentUser.role) { %>
              <a class="collapse-item" href="/orders?role=<%= currentUser.role %>&isActive=0"><%= currentUser.role %> Completed Order</a>
              <% } %> <% if(currentUser.area && (currentUser.role === 'ADMIN' || currentUser.role ==='NO')) { %>
              <a class="collapse-item" href="/orders?area=<%= currentUser.area %>&isActive=0">All Completed Order</a>
              <% } %>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />
        <% } %>

        <!-- Heading -->
        <div class="sidebar-heading">Reports</div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#reportPage"
            aria-expanded="true"
            aria-controls="reportPage"
          >
            <i class="fas fa-flag-checkered"></i>
            <span>Report</span>
          </a>
          <div id="reportPage" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/orders/report">Report</a>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <% if(currentUser && currentUser.role && (currentUser.role === 'ADMIN')) { %>

        <!-- Heading -->
        <div class="sidebar-heading">Users</div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#usersPage"
            aria-expanded="true"
            aria-controls="usersPage"
          >
            <i class="fas fa-user-shield"></i>
            <span>Users</span>
          </a>
          <div id="usersPage" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Login Screens:</h6>
              <a class="collapse-item" href="login.html">Login</a>
              <a class="collapse-item" href="register.html">Register</a>
              <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
              <div class="collapse-divider"></div>
              <h6 class="collapse-header">Other Pages:</h6>
              <a class="collapse-item" href="404.html">404 Page</a>
              <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <% } %>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

            <% if(currentUser) { %>

            <!-- Topbar Search -->
            <% if(currentUser.role && currentUser.role === 'NO') { %>
            <form
              class="d-none d-sm-inline-block form-inline mr-auto ml-3 my-2 mw-100"
              action="/orders/new/?area=RJT"
              method="POST"
              onsubmit="myButton.disabled = true; return true;"
            >
              <button type="submit" class="btn btn-success btn-icon-split" name="myButton">
                <span class="icon text-white-50"><i class="fas fa-sync-alt"></i></span>
                <span class="text">Manual Sync</span>
              </button>
            </form>
            <% } %>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <% if(currentUser.role && currentUser.role === 'NO') { %>
              <form
                class="nav-link d-inline-block d-sm-none form-inline my-2"
                action="/orders/new/?area=RJT"
                method="POST"
                onsubmit="myButton2.disabled = true; return true;"
              >
                <button type="submit" class="btn" name="myButton2">
                  <i class="fas fa-sync-alt"></i>
                </button>
              </form>
              <% } %>

              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                    <%= currentUser.firstname ? currentUser.firstname : '' %> <%= currentUser.lastname ? currentUser.lastname : '' %>
                  </span>
                  <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60" />
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Signout
                  </a>
                </div>
              </li>
            </ul>
            <% } %>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <%- include('./flash') %>