<%- include ('./partial/header') %>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  <h5 class="h6 mb-0 text-gray-800">Role: <span id="role"><%= currentUser.role %></span></h5>
  <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
    ><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a
  > -->
</div>

<% if(currentUser && currentUser.role && currentUser.area) { %>
<!-- Content Row -->
<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <a href="/orders?role=<%= currentUser.role %>&isActive=1" class="mya">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">My Pending</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="myPending"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-at fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <% if(currentUser.role === 'NO') { %>
  <div class="col-xl-3 col-md-6 mb-4">
    <a href="/orders?area=<%= currentUser.area %>&isActive=1" class="mya">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Pending</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalPending"></div>
            </div>
            <div class="col-auto">
              <i class="fab fa-atlassian fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <a href="/orders?area=<%= currentUser.area %>&agency=0" class="mya">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Agency not Assign</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="agencyPending"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <a href="/orders?area=<%= currentUser.area %>&isActive=0&reason=INCOMPLETE" class="mya">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Complete Pending</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="compPending"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-bolt fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <% } %>
</div>

<!-- Content Row -->

<div class="row">
  <!-- Pie Chart Order Type wise -->
  <div class="col-xl-4 col-lg-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Order Type Wise</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas id="orderTypeChart"></canvas>
        </div>
        <div class="mt-4 text-center small legend" id="orderTypeChartLegend"></div>
      </div>
    </div>
  </div>

  <!-- Pie Chart Agency wise -->
  <div class="col-xl-4 col-lg-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Agency Wise</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas id="agencyChart"></canvas>
        </div>
        <div class="mt-4 text-center small legend" id="agencyChartLegend"></div>
      </div>
    </div>
  </div>

  <!-- Pie Chart Agency wise -->
  <div class="col-xl-4 col-lg-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Reason Wise</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas id="reasonChart"></canvas>
        </div>
        <div class="mt-4 text-center small legend" id="reasonChartLegend"></div>
      </div>
    </div>
  </div>
</div>

<!-- /.container-fluid -->

<% } %> <%- include ('./partial/footer') %>
